.row
{
    overflow: hidden;
    background: black;
    display: flex;
    align-items: center;
    height: 100vh;
}
.texto
{
    overflow: hidden;
 min-width: 50%;
  width: 50%;
  text-align: start;
  padding-left: 40px;
}
.formulario
{
    min-width: 50%;
    width: 50%;
}
.formulario h1
{
    color: #fff;
}
.form-floating
{
    box-shadow: 8px 20px 50px 2px rgba(3, 109, 151, 1);
    width: 60%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#111, transparent);
}   
.btn-primary
{
    backdrop-filter: blur(500px);
    width: 100%;
}
.Contato
{
    background: black;
}
.texto-center
{
    text-align: center;
    color: #fff;
}
.texto-center img
{
    position: relative;
    align-items: center;
    justify-content: center;
}
