<nav class="navbar navbar-dark bg-dark  fixed-top">
    
    <div class="container-fluid">
      <a class="navbar-brand col-sm-4" href="#"><img src="/assets/henrislogo2.jpg"></a>
      <a class="navbar-brand col-sm-1" [routerLink]="['']">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inicio</a>
      <a class="navbar-brand col-sm-1" href="#comotrabalhamos">Como Trabalhamos</a>
      <a class="navbar-brand col-sm-1" href="#contato">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contactar</a>
      <a class="navbar-brand col-sm-1" [routerLink]="['/equipe']">Equipe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Redes</h5>
          <button type="button"  class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="Contatos">
            <img alt="henrislogo" src="/assets/henrislogo2.jpg" class="henrislogo">
        </div>
        <div class="offcanvas-body" style="margin:5px;">
            <div class="row">
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com/in/marcus-vinicius-lirio-a61ab8202/" class="btn-hero"><i class="bi bi-linkedin"></i></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://github.com/MarcusLirio" class="btn-hero"><i class="bi bi-github"></i></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.instagram.com/marcuskks/" class="btn-hero"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
</nav>