
<section class="Section">
    <h1 style="text-align: center;">Equipe</h1>
    <div class="containers">
        <div class="box">
            <div class="imgBy">
                <a href="/equipe/#Marcus"><img alt="MarcusEquipe" src="/assets/MarcusEquipe.png"></a>
            </div>
        </div>
        <div class="box">
            <div class="imgBy">
                <a href="/equipe/#Ivan"><img alt="IvanEquipe" src="/assets/IvanEquipe.png"></a> 
            </div>
        </div>
        <div class="box">
            <div class="imgBy">
                <a href="/equipe/#Filipe"><img alt="FilipeEquipe" src="/assets/filipeEquipe.png"></a>
            </div>
        </div>
    </div>
</section>