<menu></menu>
<section id="Filipe" class="about1">
    <div class="contentBx1">
        <h2 class="titleText1">Filipe Full-Stack Sênior</h2>
        <p class="text1">Desenvolvedor Full-Stack especializado em:<br/> Javascript, TypeScript, C#, MYSql, SQLite, MongoDb<br/>
            <img style="align-items:center;" alt="Rafa-Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
            <img style="align-items:center;" alt="Rafa-Ts" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
            <img style="align-items:center;" alt="Rafa-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img style="align-items:center;" alt="Rafa-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img style="align-items:center;" alt="Rafa-Csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
            <img style="align-items:center;" alt="Rafa-MongoDb" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg">
            <img style="align-items:center;" alt="Rafa-SQLite" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sqlite/sqlite-original.svg">
            <img style="align-items:center;" alt="Rafa-Nodejs" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg">
        </p>
        <a href="https://github.com/FilipeHG" class="btn1"><i class="bi bi-github">Github</i></a>
    </div>
    <div class="imgBx4"> 
        <img alt="FilipeEquipe" src="https://marcuslirio.github.io/SiteOficialMarcus/assets/filipeEquipe.png" class="fitBg">
    </div>
</section>
<section id="Ivan" class="about2">
    <div class="imgBx5"> 
        <img alt="IvanEquipe" src="https://marcuslirio.github.io/SiteOficialMarcus/assets/IvanEquipe.png" class="fitBg">
    </div>
    <div class="contentBx2">
        <h2 class="titleText2">Ivan Full-Stack Pleno</h2>
        <p class="text2">Desenvolvedor Full-Stack especializado em:<br/> Javascript, TypeScript, C#, MYSql, SQLite<br/>
            <img style="align-items:center;" alt="Rafa-Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
            <img style="align-items:center;" alt="Rafa-Ts" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
            <img style="align-items:center;" alt="Rafa-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img style="align-items:center;" alt="Rafa-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img style="align-items:center;" alt="Rafa-Csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
            <img style="align-items:center;" alt="Rafa-SQLite" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sqlite/sqlite-original.svg">
            <img style="align-items:center;" alt="Rafa-Nodejs" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg">
        </p>
        <a href="https://github.com/vidigaljr" class="btn1"><i class="bi bi-github">Github</i></a>
    </div>  
</section>
<section id="Marcus" class="about1-marcus">
    <div class="contentBx1">
        <h2 class="titleText1">Marcus Full-Stack Pleno</h2>
        <p class="text1">Desenvolvedor Full-Stack especializado em:<br/> Javascript, TypeScript, C#, MYSql, SQLite, MongoDb<br/>
            <img style="align-items:center;" alt="Rafa-Js" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
            <img style="align-items:center;" alt="Rafa-Ts" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
            <img style="align-items:center;" alt="Rafa-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
            <img style="align-items:center;" alt="Rafa-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
            <img style="align-items:center;" alt="Rafa-Csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
            <img style="align-items:center;" alt="Rafa-MongoDb" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg">
            <img style="align-items:center;" alt="Rafa-SQLite" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sqlite/sqlite-original.svg">
            <img style="align-items:center;" alt="Rafa-Nodejs" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original.svg">
            <img style="align-items:center;" alt="Rafa-Github" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg">
        </p>
        <a href="https://github.com/MarcusLirio" class="btn1 bi bi-github">Github</a>
    </div>
    <div class="imgBx4"> 
        <img alt="MarcusEquipe" src="https://marcuslirio.github.io/SiteOficialMarcus/assets/MarcusEquipe.png" class="fitBg">
    </div>
</section>
