<body>
    <menu></menu>
    <section class="banner">
        <img src="/assets/Marcus-portifolio.jpeg" class="fitBg">
        <div class="content">
            <h2>World Of Devs</h2>
            <p>Sejam bem vindos ao meu portifólio ! <br/>Aqui vocês me conhecerão mais e como eu atuo.</p>
            <a href="#Especialista" class="btn">Venha Me Conhecer</a>
        </div>
    </section>
    <section id="Especialista" class="about1">
        <div class="contentBx1">
            <h2 class="titleText1">Especialista</h2>
            <p class="text1">Sou um desenvolvedor Full-stack Pleno, iniciei minha jornada na programação <br/> me especializando na estruturação básica de uma página-web, usando JavaScript, HTML e Css. <br/>
               Hoje em dia ja sou apto à trabalhar com as linguas de programações Front-end e Back-End como:<br/> Javascript, TypeScript, C#, MYSql, SQLite, MongoDb
            </p>
            <a href="https://github.com/MarcusLirio" class="btn1"><i class="bi bi-github">Github</i></a>
        </div>
        <div class="imgBx1"> 
            <img src="/assets/PortifolioHtml.webp" class="fitBg">
        </div>
    </section>
    <section class="about2">
        <div class="imgBx2"> 
            <img src="/assets/banner-angularjs.jpg" class="fitBg">
        </div>
        <div class="contentBx2">
            <h2 class="titleText2">Angular</h2>
            <p class="text2">Um dos Frameworks mais trabalhados por mim até hoje é o Angular2.<br/>
                Iniciei com o Angular2 em 2020, quando fiz minha primeira Web-Application SPA. <br/>
                Desde 2020 trabalhando com páginas SPA, componentização e integrações com API's.
            </p>
        </div>  
    </section>
    <section class="about1">
        <div class="contentBx1">
            <h2 class="titleText1">Back-End</h2>
            <p class="text1">Desde sempre tive curiosidade sobre como funcionavam os sites<br/>Sempre me fazia a pergunta de onde vinham as informações e como voltavam, até, para onde voltavam.<br/>
              Depois de 1 ano me especializando em Front-End, decidi me aprofundar no Back-end criando bancos de dados<br/> que logo foram sendo consumidos e integrados pelo conhecimento de Front-end. Linguas de Back-end: <br/>
               SQLServer, MYSql, SQLite, MongoDb, AWS
            </p>
        </div>
        <div class="imgBx1"> 
            <img src="/assets/SQL.png" class="fitBg">
        </div>
    </section>
    <habilidade></habilidade>
</body> 