/* You can add global styles to this file, and also import other style files */


html, body, html * {
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif ;
}
body { 
  background: #111;
}
section{
  position: relative;
  padding: 15px;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo
{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}
.header .toggle img
{
  max-width: 40px;
  cursor: pointer;
} 
.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content
{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}
.banner .content h2
{
  color: rgb(255, 238, 238);
  font-size: 5em;
}
.banner .content p
{
  color: #fff;
  font-size: 1.2em;
}
.btn1
{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: rgb(16, 3, 39);
  font-size: larger;
  text-decoration: none;

}
.fitBg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.about1
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about1 .contentBx1
{
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
}
.about1 .imgBx1
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(166, 39, 197, 0.819);
}
.about1 .imgBx4
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(18, 105, 94, 0.819);
}
.titleText1
{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
.text1
{
  color: #fff;
}

.btn2
{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: rgb(16, 3, 39);
  font-size: larger;
  text-decoration: none;

}
.about2
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about2 .contentBx2
{
  min-width: 50%;
  width: 50%;
  text-align: start;
  padding-left: 40px;
}
.about2 .imgBx2
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(3, 109, 151, 0.747);
}
.about2 .imgBx5
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(196, 5, 5, 0.747);
}
.titleText2
{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
.text2
{
  color: #fff;
}
.banner2
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Section
{
  padding: 100px;
  background: #111;
  height: 100vh;
}
.Section .containers
{
    position: absolute;
    justify-content: center;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;
}
.Section .containers .box
{
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}
.Section .containers .box:last-child
{
   border-right: none;
}
.Section .containers .box .imgBy
{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1);
}
.Section .containers .box .imgBy:hover
{
  opacity: 1;
  filter: grayscale(0);
}
/* .Section .containers .box .imgBy
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.inicio
{
  position: relative;
  right: 800px;
}
