/* You can add global styles to this file, and also import other style files */


html, body, html * {
  font-family: 'Roboto', sans-serif;
}
html, body { height: 100%;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif ;
}
body
{
  background: black;
}
body::-webkit-scrollbar  { 
 width: 100%;
}
section{
  position: relative;
  padding: 15px;
  height: 600px;
  width: 100%;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo
{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}
.header .toggle img
{
  max-width: 40px;
  cursor: pointer;
} 
.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content
{
  position: relative;
  max-width: 900px;
  text-align: center;
  z-index: 1;
}
.banner .content h2
{
  color: rgb(255, 238, 238);
  font-size: 5em;
}
.banner .content p
{
  color: #fff;
  font-size: 1.2em;
}
.btn1
{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: rgb(16, 3, 39);
  font-size: larger;
  text-decoration: none;

}
.logo-principal
{
  width: 1000px;
}
.fitBg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.about1
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about1-marcus
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about1 .contentBx1,  .about1-marcus .contentBx1
{
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
}
.about1 .imgBx1, .about1-marcus .imgBx1
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(166, 39, 197, 0.819);
}
.about1 .imgBx4, .about1-marcus .imgBx4
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(18, 105, 94, 0.819);
}
.titleText1
{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
.text1
{
  color: #fff;
}

.btn2
{
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: rgb(16, 3, 39);
  font-size: larger;
  text-decoration: none;

}
.about2
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about2 .contentBx2
{
  min-width: 50%;
  width: 50%;
  text-align: start;
  padding-left: 40px;
}
.about2 .imgBx2
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(3, 109, 151, 0.747);
}
.about2 .imgBx5
{
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  box-shadow: 6px 6px 160px 2px rgba(196, 5, 5, 0.747);
}
.titleText2
{
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
.text2
{
  color: #fff;
}
.banner2
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Section
{
  padding: 100px;
  background: #111;
  height: 100vh;
}
.Section .containers
{
    position: absolute;
    justify-content: center;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;
}
.Section .containers .box
{
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}
.Section .containers .box:last-child
{
   border-right: none;
}
.Section .containers .box .imgBy
{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1);
}
.Section .containers .box .imgBy:hover
{
  opacity: 1;
  filter: grayscale(0);
}
/* .Section .containers .box .imgBy
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.inicio
{
  position: relative;
  right: 800px;
}
.henrislogo
{
  width: auto;
  margin: 45px;
  margin-top: 150px;
}

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Nav
===============
*/
nav {
  background: var(--clr-white);

  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}
.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
  color: var(--clr-primary-5);
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
nav a:hover {
  color: var(--clr-primary-5);
}
/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
.container h2 {
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.5rem;
}
.color {
  color: var(--clr-primary-5);
}
.btn-hero {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-hero:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
div .col-sm-2
{
  margin: 5px;
}